*.html
!code_hiding.html
Jupyter/.ipynb_checkpoints/*
Jupyter/Pilot11/.ipynb_checkpoints/*
Jupyter/Pilot12/.ipynb_checkpoints/*
.ipynb_checkpoints/*
Python_scripts/.ipynb_checkpoints/*
Jupyter/Pilot13-14/.ipynb_checkpoints/*
Jupyter/Pilot15-16/.ipynb_checkpoints/*
Jupyter/Pilot15-19/.ipynb_checkpoints/*
Jupyter/Pilot15/.ipynb_checkpoints/*
Jupyter/Pilot16/.ipynb_checkpoints/*
Jupyter/Pilot17/.ipynb_checkpoints/*
Jupyter/Pilot18/.ipynb_checkpoints/*
Jupyter/Pilot19/.ipynb_checkpoints/*
Python/.idea/*
Python/__pycache__/*
figures/*
*.csv
!R/test.csv
!MATLAB/metaDump.csv
*.mat
*.h5
*.bak
Jupyter/old/Pilot12/.ipynb_checkpoints/
Jupyter/old/Pilot13-14/.ipynb_checkpoints/
Jupyter/old/Pilot15-19/.ipynb_checkpoints/
Jupyter/old/Pilot15/.ipynb_checkpoints/
.idea/*
__pycache__/*
Jupyter/__pycache__/*
.Rproj.user
R/.Rhistory
R/R.Rproj
R/basics_files/*
